.topPad {
    padding-top:30px;
}
.answerHolder{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}
.answerHolder li {
    margin-bottom:20px;
}
.answerHolder li label {
    background-color: #fff;
    justify-content: flex-start;
    margin-right:30px;
    border-radius:8px;
    padding:8px 12px;
    border: 1px solid #293264;
    color:#293264;
    cursor:pointer;
    white-space: nowrap;
    transition: all 0.2s linear;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.answerHolder input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.answerHolder input[type="radio"]:checked + label {
    background-color:#D6DBF5;
    border-color: #D6DBF5;
}

.answerHolder input[type="radio"]:focus + label {
    border: 1px dashed #444;
}

.answerHolder label:hover {
    background: #eee;
}

.answerHolder input[type="radio"]:disabled + label {
    pointer-events: none;
}

h4 {
    text-align: left;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.qSection {
    padding-bottom:15px;
    border-bottom: 1px solid #DBDEF0;
}

.subMessage {
    color:#000;
    font-weight:600;
    margin-right:40px;
    font-size:20px;
}

.answerHolder li input[type="radio"]:checked + label.wFade {
    background-color:#fc8c8c;
    border-color:#fc8c8c;
}
.answerHolder li input[type="radio"] + label.cGreen {
    background-color:#94D7A2;
    border-color:#94D7A2;
}

.answerHolder li input[type="radio"] + label.wFade {
    opacity:0.6;
}